# Ruby Gems
*.gem

# Design Files
*.psd
*.ai

# IntelliJ
.idea

feature_graphic_3.png
Foto_DNI_brillo.jpeg
logo_final_QUINIELAPERFECTA.svg
docs/ivan_web_bn.png
docs/ivan_web_test.png
docs/ivan_web_test_bn.png
docs/ivan_webxcf.png
docs/qp_app.mp4
*.png
*.jpg
*.JPG
*.gif

*.zip
